/* src/styles/base/_reset.scss */
@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: map-get($font-families, body);
  color: map-get($colors, text);
  background-color: map-get($colors, background);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
